<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars </title>
    
    
</head>
<body>
       <h1>Cars</h1>
       <img src="./images/car1.jpg" alt="car1" height="240" width="240">
       <img src="./images/car2.jpg" alt="car2" height="240" width="240">
       <img src="./images/car3.jpg" alt="car3" height="240" width="240">
    </body>
</html>