<!DOCTYPE html>
<html>
<body>
<h1>Car Info</h1>

<form  method="post">
  <div>
    <label for="make">Make:</label>
    <input type="text" id="make" name="car_make">
  </div>
  <div>
    <label for="mail">Model:</label>
    <input type="text" id="model" name="car_model">
  </div>
  <div class="button">
    <button type="submit">Send your info</button>
  </div>
</form>
</body>
</html>