<!DOCTYPE html>
<html>
<head>
   <title> Game Trevia</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src = "gametrevia.js" > </script>
</head>
<body>


   <h2>The Button Element</h2>
   <div id="quiz">   Question: <input type="text" name="question"><br></div>
   <div id="posans"></div>
   <button id="submit">Submit Quiz</button>
   <div id="results"></div>

   

   <button type="button" id = "clickme" onclick="clickmefunction()">Click Me!</button>
   

</body>
</html>