<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats </title>
    
    
</head>
<body>
       <h1>Cats</h1>
        <a href ="/kittycat1"><img src="cat1.jpg" alt="cat1" height="240" width="240"></a>
        <a href ="/kittycat2"><img src="cat2.jpg" alt="cat1" height="240" width="240"></a>
        <a href ="/kittycat3"><img src="cat3.jpg" alt="cat1" height="240" width="240"></a>


    </body>
</html>