<!DOCTYPE html>
<html>
<body>
<h1>Car Info</h1>

<form  method="post" action="/survey">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  </div>
  <div>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location">
  </div>
  <div>
      <label for="Language">Language:</label>
      <input type="text" id="language" name="language">
    </div>
    <div>
        <label>Comment:</label>
        <input type="text" id="comment" name="comment">
    </div>
    <input type="submit">    
</form>
</body>
</html>